<div class="row">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>ID</th>
          <th>Name</th>
          <th>Student Age</th>
          <th>Student Phone Number</th>
          <th>Student Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @students.each.with_index(1) do |student, i| %>
          <tr>
            <td><%= i %></td>
            <td><%= student.id %></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
            <td><%= student.phone_number %></td>
            <td><%= student.email %></td>
            <td><%#= link_to "Download", axlsx_index_path(id: student.try(:id)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container">
    <p>
      Download:
      <%= link_to "Download", students_path(format: :xlsx) %>
    </p>
  </div>
</div>